<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">-->

<!--<mapper namespace="package com.template.web.login.mapper.UserMapper">-->
<!--    <select id="findById" parameterType="String" resultType="UserMapper">-->
<!--        select * from users where id = #{id}-->
<!--    </select>-->
<!--</mapper>-->